docs/**/*.log
docs/**/*.synctex.gz
docs/**/*.aux
src/ganlogs/
.\\src\\ganlogs\\*
src/logs/
.\\src\\logs\\*
src/trained-nets/
.src\\trained-nets\\*
src/trained-weights/
.src\\trained-weights\\*
__pycache__
training_checkpoints
.idea
experiments_spr-pcf
expirements_pcf2
loss_curves_2k
loss_curves_3k
