docs/**/*.log
docs/**/*.synctex.gz
docs/**/*.aux
ganlogs/
.\\src\\ganlogs\\*
logs/
.\\src\\logs\\*
src/trained-nets
.src\\trained-nets\\*
src/trained-weights
.src\\trained-weights\\*
__pycache__
training_checkpoints
.idea
